<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login - CarroFácil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-toggle.css') }}">
  </head>
  <body>

    <main class="card">
      <div class="hero-gif-wrap">
        <img
          class="hero-gif"
          src="{{ url_for('static', filename='images/carro.gif') }}"
          alt="Carro em movimento"
        >
      </div>
      <h1>CarroFácil</h1>
      <p>Bem vindo</p>

      <form method="post" action="/login">
        <label>Usuário
          <input name="username" value="{{ username or '' }}" required>
        </label>

        <label>Senha
          <input type="password" name="password" required>
        </label>

        <button type="submit" class="login-btn">Entrar</button>
      </form>

      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %}
    </main>


    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
  </body>
</html>

